{{ define "title" }}{{ .Site.Params.title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ $news := where .Site.RegularPages "Type" "news" }}
{{if gt (len $news) 0}}
<div class="container pt-4 pb-4">
  <div class="row justify-content-start mb-4">
    {{ $news := where (where .Site.RegularPages "Type" "news") ".Params.comments" "!=" nil }}
    {{ range first 12 $news }}
      <div class="col-12 col-md-6 col-lg-4 mb-3 d-flex align-items-stretch">
        {{ .Render "summary" }}
      </div>
    {{ end }}
  </div>
  <div class="col-12 text-center mb-3">
    <a class="button button-primary bg-info" href="{{ "news/" | relURL }}">Ещё</a>
  </div>
</div>
{{end}}

<div class="strip strip-grey bg-light">
  <div class="container pt-6 pb-4 pt-md-4 pb-md-2">
    <div class="row justify-content-center">
      {{ range .Site.Data.features }}
      <div class="col-12 col-md-6 col-lg-4 mb-2">
        <div class="feature shadow border">
          {{ if .image }}
            <div class="feature-image mb-0"><img alt="{{ .title }} logo" src="{{ .image | relURL }}" /></div>
          {{ end }}
          <!-- <h2 class="feature-title">{{ .title }}</h2> -->
          <!-- <div class="feature-content">
            <p>{{ .description }}</p>
          </div> -->
        </div>
      </div>
      {{end}}
    </div>
  </div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ end }}
