{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-comments-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}

<div class="container py-6 pb-md-12">
  <h1 class="display-5 font-weight-light mb-4">{{ .Title }}</h1>
  <div class="row">
    {{ range .Pages.ByWeight }}
    <div class="col-12 col-md-6 col-lg-4 mb-2 d-flex align-items-stretch">{{ .Render "summary" }}</div>
    {{ end }}
  </div>
</div>

{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $comments := resources.Get "js/pages/comments.js" }}
{{ $commentsJS := slice $library $comments |resources.Concat "js/comments.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $commentsJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($commentsJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
