{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-news-single{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container pb-6 pt-6 pt-md-4 pb-md-4">
  <div class="row justify-content-start">
    <div class="col-12">
      <div class="comments comments-single">
        <div class="card border border-white mb-3 shadow">
          <div class="card-header border-0">
            <div class="small d-inline-block" style="width: 75%;">
              {{ with .Params.sources }}
                {{ range (where $.Site.Pages "Params.slug" .) }}
                  <a href="{{ $.Params.link }}" class="text-muted text-decoration-none">{{ .Param "name" }}</a>
                {{ end }}
              {{ end }}
            </div>
            <div class="small text-black-50 float-right d-inline-block">
              <span>
                {{ .Date.Format "01.02" }}, {{ .Date.Format "15:04" }}
              </span>
            </div>
          </div>
          <div class="card-body">
            <h1 class="card-title">{{ .Title }}</h1>
            <p class="card-text">{{ .Params.lead }}</p>
            <div class="content">
              {{ .Content }}
            </div>
          </div>
        </div>
      </div>
      <div class="row">
      {{ range .Params.comments }}
        {{ range (where $.Site.Pages "Params.id" .) }}
          <div class="col-12 col-lg-6 d-flex align-items-stretch">
            {{ .Render "summary" }}
          </div>
        {{ end }}
      {{ end }}
      </div>
    </div>
  </div>
</div>
</div>
{{ end }}

{{ define "footer_js" }}
{{ $library := resources.Get "js/libs/library.js" }}
{{ $comments := resources.Get "js/pages/comments.js" }}
{{ $commentsJS := slice $library $comments |resources.Concat "js/comments.js" }}
{{ if .Site.IsServer }}
  <script type="text/javascript" src="{{ $commentsJS.RelPermalink }}"></script>
  {{ else }}
  <script type="text/javascript" src="{{ ($commentsJS | minify | fingerprint).RelPermalink }}"></script>
  {{ end }}
{{ end }}
