
<div class="card border shadow" onclick="location.href='{{ .Permalink }}';" style="cursor: pointer;">
  <div class="card-header border-0 small text-uppercase text-info">
    {{ with .Params.categories }}
      {{ range where $.Site.Pages "Params.slug" . }}
        {{ .Param "name" }}
      {{ end }}
    {{ end }}
    <span class="text-black-50 float-right">{{ .Date.Format "01.02" }}</span>
  </div>
  <div class="card-body">
    <h3 class="card-title font-weight-bold">
      {{ .Title }}
    </h3>
    <small class="text-dark small">{{ .Params.lead | safeHTML }}</small>
    <!-- <p class="card-text small">{{ .Summary | plainify | htmlUnescape }}</p> -->
  </div>

  {{ if .Params.image }}
    <a href="{{ .Permalink }}">
      <img class="card-img-bottom rounded-0 d-block" src="{{ .Params.image }}">
    </a>
  {{ end }}

  {{ if .Params.comments }}
    {{ $len := len .Params.comments }}
    <div class="card-group flex-row">
      {{ range $index, $element := .Params.comments }}
        {{ range where $.Site.Pages "Params.id" . }}
          {{ if .Params.experts }}
            {{ range .Params.experts }}
              {{ range where $.Site.Pages "Params.slug" . }}
                <div class="card rounded-0 m-0 border-bottom-0 border-left-0 {{ if eq $index (sub $len 1) }} border-right-0 {{ end }}">
                  <img class="card-img-top rounded-0" src="{{ (.Param "image") | relURL }}">
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div class="card-footer border-0 text-uppercase small">
    {{ if .Params.comments }}
        {{ range .Params.comments }}
          {{ range where $.Site.Pages "Params.id" . }}
            {{ if .Params.experts }}
              {{ range .Params.experts }}
                {{ range where $.Site.Pages "Params.slug" . }}
                <div class="d-inline-block mr-1 small">
                  {{ .Param "firstName" }} {{ .Param "lastName" }}
                </div>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
    {{ end }}
  </div>
</div>
