
<div class="card border-0 shadow" onclick="location.href='{{ .Permalink }}';" style="cursor: pointer;">
  <div class="card-header border-0 small text-uppercase {{ .Params.color }}">
    {{ if .Params.categories }}
      {{ range .Params.categories }}
      
      {{ end }}
    {{ end }}
  </div>
  <div class="card-body">
    <h3 class="card-title font-weight-bold">
      {{ .Title }}
      <small class="text-muted font-weight-lighter">{{ .Summary | plainify | htmlUnescape }}</small>
    </h3>
    <!-- <p class="card-text small">{{ .Summary | plainify | htmlUnescape }}</p> -->
  </div>

  {{ if .Params.image }}
    <a href="{{ .Permalink }}">
      <img class="card-img-bottom rounded-0 d-block" src="{{ .Params.image }}">
    </a>
  {{ end }}

  {{ if .Params.comments }}
    {{ $len := len .Params.comments }}
    <div class="card-group flex-row">
      {{ range $index, $element := .Params.comments }}
        {{ range where $.Site.Pages "Params.id" . }}
          {{ if .Params.experts }}
            {{ range .Params.experts }}
              {{ range where $.Site.Pages "Params.slug" . }}
                <div class="card rounded-0 m-0 border-bottom-0 border-left-0 {{ if eq $index (sub $len 1) }} border-right-0 {{ end }}">
                  <img class="card-img-top rounded-0 d-block" src="{{ (.Param "image") | relURL }}">
                </div>
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div class="card-footer border-0 text-uppercase">
    {{ if .Params.comments }}
      <div class="card-group flex-row">
        {{ range .Params.comments }}
          {{ range where $.Site.Pages "Params.id" . }}
            {{ if .Params.experts }}
              {{ range .Params.experts }}
                {{ range where $.Site.Pages "Params.slug" . }}
                  <span class="badge badge-secondary font-weight-light mr-1">
                    {{ .Param "firstName" }} {{ .Param "lastName" }}
                  </span>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    {{ end }}
  </div>
</div>
