
<div class="card border-0 shadow" onclick="location.href='{{ .Permalink }}';" style="cursor: pointer;">
  {{ if .Params.categories }}
    <div class="card-header border-0 small text-uppercase {{ .Params.color }}">
      {{ range .Params.categories }}
        <span>{{ . }}</span>
      {{ end }}
      <span class="small text-black-50 float-right">{{ .Date.Format "01.02" }}</span>
      {{ if .Params.message }}
        <span class="badge badge-warning float-right mr-1 text-uppercase">{{ .Params.message }}</span>
      {{ end }}
    </div>
  {{ end }}
  <div class="card-body">
    <h3 class="card-title font-weight-bold">
      {{ .Title }}
      <small class="text-muted font-weight-lighter">{{ .Summary | plainify | htmlUnescape }}</small>
    </h3>
    <!-- <p class="card-text small">{{ .Summary | plainify | htmlUnescape }}</p> -->
  </div>

  {{ if .Params.image }}
    <a href="{{ .Permalink }}">
      <img class="card-img-bottom rounded-0 d-block" src="{{ .Params.image }}">
    </a>
  {{ end }}

  {{ if .Params.comments }}
    {{ $len := len .Params.comments }}
    <div class="card-group flex-row">
      {{ range $index, $element := .Params.comments }}
        {{ . }}<br>
        {{ with $.Site.GetPage .  }}
        {{ . }}<br>
          {{ if .Params.experts }}
            {{ range $index, $element := .Params.experts }}
              {{ . }}<br>
              {{ with $.Site.GetPage "/experts" }}
                {{ with .GetPage $element }}
                  <div class="card rounded-0 m-0 border-bottom-0 border-left-0 {{ if eq $index (sub $len 1) }} border-right-0 {{ end }}">
                    <img class="card-img-top rounded-0 d-block" src="{{ (.Param "image") | relURL }}" alt="Card image cap">
                  </div>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div class="card-footer border-0 text-uppercase">
    {{ if .Params.comments }}
      {{ range $index, $element := .Params.comments }}
        {{ with $.Site.GetPage .  }}
          {{ if .Params.experts }}
            {{ range $index, $element := .Params.experts }}
              {{ with $.Site.GetPage "/experts" }}
                {{ with .GetPage $element }}
                  <span class="badge badge-secondary text-decoration-none font-weight-light">
                    {{ .Param "firstName" }} {{ .Param "lastName" }}
                  </span>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</div>
