.page-news-single {
  .content {
    > p {
      color: rgb(0, 0, 0);
      font-size: 1rem;
      &:first-of-type {
        font-size: 1.25rem;
        line-height: 1.4;
        margin-bottom: 20px;
        font-weight: regular;
        border-left: 5px solid $primary;
        padding-left: 20px;
      }
    }
  }
}
