
<div class="card border-0 shadow" onclick="location.href='{{ .Permalink }}';" style="cursor: pointer;">
  {{ if .Params.categories }}
    <div class="card-header border-0 small text-uppercase {{ .Params.color }}">
      {{ range .Params.categories }}
        {{ . }}
      {{ end }}
    </div>
  {{ end }}
  <div class="card-body">
    <h3 class="card-title font-weight-bold">
      {{ .Title }}
      <small class="text-muted font-weight-lighter">{{ .Summary | plainify | htmlUnescape }}</small>
    </h3>
    {{ if .Params.experts }}
      {{ range $index, $element := .Params.experts }}
        <span class="badge badge-light text-decoration-none font-weight-light">{{ . }}</span>
      {{ end }}
    {{ end }}
    <!-- <p class="card-text small">{{ .Summary | plainify | htmlUnescape }}</p> -->
  </div>

  {{ if .Params.image }}
    <a href="{{ .Permalink }}">
      <img class="card-img-bottom rounded-0 d-block" src="{{ .Params.image }}">
    </a>
  {{ end }}

  {{ if .Params.images }}
    {{ $len := len .Params.images }}
    <div class="card-group">
      {{ range $index, $element := .Params.images }}
        {{ if . }}
          <div class="card d-none d-sm-block rounded-0 border-bottom-0 {{ if eq $index 0 }} border-left-0 {{ end }} {{ if eq $index (sub $len 1) }} border-right-0 {{ end }}">
            <img class="card-img-top rounded-0 d-block" src="{{ . }}" alt="Card image cap">
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}

  <div class="card-footer text-muted border-0 small text-monospace" style="background-color: white !important;">
   {{ .Date.Format "01.02 15:04" }}
  </div>
</div>
